.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.SearchBar {

}

.ProductList {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.Product {
  border: 2px #ccc solid;
  padding: 10px;
  margin: 20px;
}

.ProductInfo {
  text-align: left;
}
