@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.SearchBar button {
  padding: 9px 13px;
  background: #9c88ff;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.SearchBar button:hover {
  background: #ccc;
}

.SearchBar button:focus {
  outline-width: 0;
}

.SearchBar input[type=text] {
  padding: 9px;
  width: 25%;
  font-size: 17px;
  border: none;
  color: #8e8e8e;
}

.SearchBar input[type=text]:focus {
  outline-width: 0;
}

.ProductList {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.Product {
  background-color: #fff;
  color: #333;
  position: relative;
  padding: 10px;
  margin: 11px 0;
  border-left: 4px solid #9c88ff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.ProductInfo {
  text-align: left;
}
