body {
  background-color: #f7f7f7;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  margin: 20px;
}

.img-box img {
  vertical-align: top;
  max-height: 90%;
  max-width: auto;
}

ul {
  padding-inline-start: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

h4 {
  margin-block-start: 0em;
  margin-block-end: 0.5em;
}

.product-container {
  display: flex;
}

.product-container .ProductInfo {
  flex: 4
}

.product-container .img-box {
  flex: 1;
}

.img-box { 
  
}

.date-box {
  margin-block-start: 0;
  margin-block-end: 0;
  text-align: right;
  font-size: 0.7em;
  color: #bbb;
}
