body {
  background-color: #f7f7f7;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #2b2b2b;
}

header {
  margin: 20px;
}

#result-bar {
  text-align: left;
  padding: 2px;
  padding-left: 10px;
  margin-top: 10px;
  background-color: #ddd;
  /* border-left: 4px solid #9c88ff; */
}

.img-box img {
  vertical-align: top;
  max-height: 90%;
  max-width: auto;
}

ul {
  padding-inline-start: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: #2b2b2b;
}

h4 {
  margin-block-start: 0em;
  margin-block-end: 0.5em;
}

.product-container {
  display: flex;
}

.product-container .ProductInfo {
  flex: 4
}

.product-container .img-box {
  flex: 1;
}

.info-table {
  border-spacing: 0px;
}

tr:nth-child(odd) {
  background-color: #eee;
}

tr:nth-child(even) {
  background-color: #fff;
}

td {
  padding-left: 20px;
}

.high-velocity, .low-velocity {
  font-weight: bold;
}

.high-velocity {
  color: #24c010;
}

.low-velocity {
  color: #c01025;
}

.img-box { 
  
}

.date-box {
  margin-block-start: 0;
  margin-block-end: 0;
  text-align: right;
  font-size: 0.7em;
  color: #bbb;
}
